@model string[]
@{ Layout = "_Layout";}

@section Header{
    <div class="bg-success">
        @foreach (string str in new[] {"Main", "List", "Edit"})
        {
            <a class="btn btn-sm btn-primary" asp-action="str">@str</a>
        }
    </div>

    List of fruits:
    @foreach (string name in Model)
    {
        <span><b>@name</b></span>
    }
}
@section Footer {
<div class="bg-success">
    This is a footer
</div>
}