@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>New Year Eve Party</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div class="text-center">
    <h2>We are inviting to party!</h2>
    <h3> You to has been invited</h3>
    <a class="btn btn-primary" asp-action="RsvpForm">Send RSVP</a>
</div>
</body>
</html>    
    

