@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>New Year Eve Party</title>
</head>
<body>
<div>
    @ViewBag.Greeting, world (from view)
    <p>Invite for a party <br />
        TODO: Add photo and others stuff</p>
    <a asp-action="RsvpForm">Send RSVP</a>
</div>
</body>
</html>    
    

